.profile-back {
  background-image: url("../../img/profileBack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border-radius: 5px;
}

.dash-container {
  height: 42vh;
}

.t-exit {
  opacity: 1;
}

.t-exit-active {
  opacity: 0;
  transition: all ease 1s;
}

.t-exit-done {
  opacity: 0;
}

.t-enter {
  opacity: 0;
}

.t-enter-active {
  opacity: 1;
  transition: all ease 1s;
}

.t-enter-done {
  opacity: 1;
}
