.profile-back {
  background-image: url("../../img/profileBack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border-radius: 5px;
}

.dash-container {
  height: 47vh;
}
