.recipe-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-card {
  width: 100%;
}

.recipe-card:hover {
  background-color: #f3f3f3;
}

@media (min-width: 500px) {
  .recipe-card {
    width: 70%;
    justify-content: center;
  }
}

@media (min-width: 900px) {
  .recipe-card {
    width: 50%;
    justify-content: center;
  }
}
