.alert-container {
  position: fixed;
  top: 12%;
  left: 17%;
  width: 67%;
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.8;
  border-radius: 10px;
  background-color: #d30d0d;
  color: #f4f4f4;
}
