.btn-rack {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  margin: 0 1rem;
  margin-bottom: 0;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: #333 1.5px solid;
  height: 2.5rem;
}

.tip-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #333 1px solid;
  border-radius: 10px;
  height: 2rem;
  width: 2.4rem;
  margin-left: 1rem;
}

.tip-btn-bold {
  background-image: url("../../img/editor/bold.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tip-btn-italic {
  background-image: url("../../img/editor/italic.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tip-btn-bullet {
  background-image: url("../../img/editor/list-unordered.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.is-active {
  background-color: #777;
  color: #fff;
}
