@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.logo-custom {
  font-family: "Great Vibes", sans-serif !important;
  font-size: 2rem;
  text-decoration: none;
}

.nav-custom {
  background-color: #333;
}
